/*Chamber Dashboard General Styles*/
.notice.cdash_update_notice{
  /*background-color:rgba(195, 105, 127, 1);*/
  border:#B1304D 2px solid;
}

.notice.cdash_update_notice a{
  font-weight: bold;
}

.notice.cdash_update_notice .notice-dismiss:before{
  color:#fff;
}

.cdash_update_notice button.notice-dismiss{
	background:#B1304D;
  right:0;
}

.cdash_getting_started_docs{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
  grid-gap: 3%;
}

.cdash_admin_grid{
  display:grid;
  /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );*/
}

.cdash_wrapper{
  grid-gap:5%;
  background:#ddd;
  margin-bottom:30px;
  padding:2%;
}

.cdash_admin_grid.one_col{
  grid-template-columns: 1fr;
}

.cdash_admin_grid.equal_col{
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width:700px){
  .cdash_admin_grid{
    grid-template-columns: 2fr 1fr;
  }

  .cdash_getting_started_docs{
    grid-template-columns: 1fr 3fr;
  }
}
.cdash_admin_page p a{
  color:#B1304D;
  text-decoration: underline;;
  font-weight: bold;
}

.cdash_admin_page .cdash_highlight{
  color:#D48695;
  font-weight: bold;
}

.cdash_video_container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.cdash_video_container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

p.right{
  text-align:right;
}

.cdash_admin_left_sidebar{
  display:table;
}

.cdash_email_subscribe_div{
  display:grid;
}

@media screen and (min-width:768px){
  .cdash_email_popup{
    width:50%;
  }
}

@media screen and (min-width:992px){
  .cdash_email_popup{
    width:40%;
  }
}

.cdash_email_popup{
  display:none;
  padding:3%;
  border:#B1304D 3px solid;
}

/*.email_subscribe_form{
  grid-column-end: span 2;
  width: auto;
}

.email_subscribe_form > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
    align-items: center;
}*/

.cdash_email_popup label{
  font-size:16px;
  min-width: 100px;
  width:auto;display:block;
  margin-bottom:10px;
}

.cdash_email_popup input{
  width:80%;
  margin-bottom:10px;
}

.cdash_admin.close_button{
  float:right;
}

.dashboard_page_cdash-about h1{
  font-size:25px;
}
